@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

.container {
    padding: 0 auto;
    margin: 100px;
    text-align: center;
}